- @body_class = "home"

%header#start
    %nav
        .navInner
            .block.block--info
                %h1
                    %a{:href => "/"}
                        Callum Flack is a designer who codes.
                %p
                    I design and build identities and products for screen and page
                    by focussing on Why, not What.

                %p
                    In the game since 1999, I have a comprehensive skill set: from brand identity design to user interface design.
                    I believe that:

                %ul.ul-dash
                    %li Ideas easily become profligate. Execution makes the thing.
                    %li Clarity is what shows above an iceberg of focus and elimination. Clarity, not simplicity, is the aim.
                    %li Seeing it as designer, as user/audience and with a bird's eye view helps find connections. Connections are where meaning lies.
                %p
                    Contact:
                    %a{:href => "mailto:callumflack@gmail.com"} email,
                    %a{:href => "https://twitter.com/callumflack"} twitter,
                    %a{:href => "https://github.com/callumflack"} github,
                    %a{:href => "http://www.linkedin.com/in/callumflack"} linkedin.

            .block.block--infoNav
                %button.Button.Button--clear
                    %a{:href => "##roundtable"} &#8595; View the work

%section#roundtable
    = partial "work/roundtable-info"
    = partial "work/roundtable-carousel"

%section#boxdice
    = partial "work/boxdice-info"
    = partial "work/boxdice-carousel"

%section#posters
    = partial "work/posters-info"
    = partial "work/posters-carousel"

%section#villagemelbourne
    = partial "work/villagem-info"
    = partial "work/villagem-carousel"
