- @body_class = "home"

%header
    %nav
        %a{:href => "/"}
            Callum Flack
            %br
            Design + Code
            %br
        %a{:href => "#about"} About
        %span &nbsp;.&nbsp;&nbsp;&nbsp;
        %a{:href => "/blog"} Blog
        %span &nbsp;.&nbsp;&nbsp;&nbsp;
        %a{:href => "mailto:callumflack@gmail.com"} Email

%article
    %section.slideshow

        .slide#millennius#start
            = partial "slideMsg-right"
            .contentRight
                %img{:src => "/assets/images/millennius-800.jpg", :alt => "Poster for the Millennius Fashion Event, 1998"}
                %h3.caption
                    Poster Campaign. Vision Opera, London 2007.

        .slide#roundtable
            = partial "slideMsg"
            .contentHolder
                = partial "gallery-roundtable"
                %h3.caption
                    Visual identity & packaging. Roundtable Records, Melbourne 2009–2013.

        .slide#dangerouspixels
            = partial "slideMsg"
            .contentHolder
                %img{:src => "/assets/images/DP-Medical.jpg", :alt => ""}
                %h3.caption
                    Poster Campaign. Vision Opera, London 2007.

        .slide#posters
            = partial "slideMsg-about"
            .contentHolder
                = partial "gallery-posters"
                %h3.caption
                    Posters. Vision Opera, London 2007.

        = partial "about"
