- @body_class = "journal"

.frame

  .log
    %h2 
      Acting Dead, Trading Up and
      %br
      Leaving the Middle Class
    %p.date June 11, 2012
    %p
      I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how
      I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not
      moving up into the rich class or down into the poor class. I am doing something complicated called trading
      up. This $2700 is money that, if I’d decided to pull the trigger and spend it a few months earlier, would
      have spared me a ton of unnecessary frustration. Why didn’t I spend it when I should have?
      = link_tag "read more", "/2012/becoming-a-digital-maker"

  .log
    %h2 
      Acting Dead, Trading Up and
      %br
      Leaving the Middle Class
    %p.date June 11, 2012
    %p
      I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how
      I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not
      moving up into the rich class or down into the poor class. I am doing something complicated called trading
      up. This $2700 is money that, if I’d decided to pull the trigger and spend it a few months earlier, would
      have spared me a ton of unnecessary frustration. Why didn’t I spend it when I should have?
      = link_tag "read more", "/2012/becoming-a-digital-maker"

  .log
    %h2 
      Acting Dead, Trading Up and
      %br
      Leaving the Middle Class
    %p.date June 11, 2012
    %p
      I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how
      I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not
      moving up into the rich class or down into the poor class. I am doing something complicated called trading
      up. This $2700 is money that, if I’d decided to pull the trigger and spend it a few months earlier, would
      have spared me a ton of unnecessary frustration. Why didn’t I spend it when I should have?
      = link_tag "read more", "/2012/becoming-a-digital-maker"

  .log
    %h2 
      Acting Dead, Trading Up and
      %br
      Leaving the Middle Class
    %p.date June 11, 2012
    %p
      I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how
      I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not
      moving up into the rich class or down into the poor class. I am doing something complicated called trading
      up. This $2700 is money that, if I’d decided to pull the trigger and spend it a few months earlier, would
      have spared me a ton of unnecessary frustration. Why didn’t I spend it when I should have?
      = link_tag "read more", "/2012/becoming-a-digital-maker"

  .log
    %h2 Weekly notice
    = image_tag "Notice_120606~02.jpg"
