- @body_class = "journal"

.frame
  %h1 Journal

  .log
    %h2 Becoming a digital maker
    %p
      I've been sucking up the internet for years now. First, it was to
      learn about and obtain rare vinyl, now it is my starting point
      for any information need I have. I'm reading alot more, I'm
      learning alot more and I'm trying not to be just a graphic
      designer.
      = link_tag "read more", "/2012/becoming-a-digital-maker"

  .log
    %h2 Becoming a digital maker
    %p
      I've been sucking up the internet for years now. First, it was to
      learn about and obtain rare vinyl, now it is my starting point
      for any information need I have. I'm reading alot more, I'm
      learning alot more and I'm trying not to be just a graphic
      designer.
      = link_tag "read more", "/2012/becoming-a-digital-maker"

  .log
    %h2 Becoming a digital maker
    %p
      I've been sucking up the internet for years now. First, it was to
      learn about and obtain rare vinyl, now it is my starting point
      for any information need I have. I'm reading alot more, I'm
      learning alot more and I'm trying not to be just a graphic
      designer.
      = link_tag "read more", "/2012/becoming-a-digital-maker"

  .log
    %h2 Becoming a digital maker
    %p
      I've been sucking up the internet for years now. First, it was to
      learn about and obtain rare vinyl, now it is my starting point
      for any information need I have. I'm reading alot more, I'm
      learning alot more and I'm trying not to be just a graphic
      designer.
      = link_tag "read more", "/2012/becoming-a-digital-maker"

  .log
    %h2 Becoming a digital maker
    %p
      I've been sucking up the internet for years now. First, it was to
      learn about and obtain rare vinyl, now it is my starting point
      for any information need I have. I'm reading alot more, I'm
      learning alot more and I'm trying not to be just a graphic
      designer.
      = link_tag "read more", "/2012/becoming-a-digital-maker"

  .log
    %h2 Weekly notice
    = image_tag "some-image.jpg"
