!!!5
%html
  %head
    %title My Website
    = stylesheet_tag :application
  %body{ class: @body_class }
    .mast
      .tagline
        = link_tag "Callum Flack. Design for building culture.", "/"
      .nav
        = link_tag "Journal", "/journal"
        = link_tag "Work", "/work"
        = link_tag "Profile", "/profile"
        = link_tag "Info", "#", class: "details-link"
    = yield
    = javascript_tag :application
