!!!5
%html
  %head
    %title My Website
    = stylesheet_tag :application
    = javascript_tag "http://use.typekit.com/byz1jhq.js"
    :javascript
      try{Typekit.load();}catch(e){}
  %body{ class: @body_class }
    .mast
      .manifesto
        %p
          = link_tag "Callum, Designing", "/"
      .nav
        = link_tag "Journal", "/journal"
        = link_tag "Work", "/work"
        = link_tag "Profile", "/profile"
        = link_tag "Info", "#", class: "details-link"
    = yield
    = javascript_tag :application
